{% extends 'base.html.twig' %}

{% block title %}Import pharmacies{% endblock %}

{% block body %}

<h1>Import pharmacies</h1>
    <form method="post">
        <button class="btn btn-success">Import data</button>
    </form>
    <table class="table table-stripped table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Post index</th>
            <th>Street</th>
            <th>Town</th>
            <th>Longitude</th>
            <th>Latitude</th>
        </tr>
        </thead>
        <tbody>
        {% for row in data %}
        <tr>
            <td>{{ row['nazwa'] }}</td>
            <td>{{ row['kod_pocztowy'] }}</td>
            <td>{{ row['ulica'] }}</td>
            <td>{{ row['miejscowosc'] }}</td>
            <td>{{ row['gps_dlugosc'] }}</td>
            <td>{{ row['gps_szerokosc'] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <form method="post">
        <button class="btn btn-success">Import data</button>
    </form>

{% endblock %}